.input_wrapper {
  min-width: max-content;
  display: flex;

  form {
    .input {
      font-size: 16px;
      border: 1px solid #ccc;
      width: 100px;
    }

    button {
      min-width: max-content;
      cursor: pointer;

      &:hover {
        transition: .3s;
        background-color: #45a049;
        border-color: #45a049;
      }
    }
  }
  .edit_btn:hover{
    background: #5fcbae;
    transition: .3s;
    border-color: #88e0cf;
  }
}
